.description {
  display: flex;
  background-color: #f9f9f9;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  color: white;
  background-color: #17475f;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
